# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
ios_build

# Ignore Intellij directory
.idea
.fleet

# Ignore embedded jre
jre

# Additional folders to ignore
.godot
graal
